@*@model MyBg.Models.UserAdminModel*@
@{
    ViewData["Title"] = "Welcome to My Blog";
    UserAdminModel admin=  ViewData["User"] as UserAdminModel;
    string followersCount = ViewData["FollowerCount"].ToString();
    IEnumerable<PostsViewModel> posts = ViewData["Posts"] as IEnumerable<PostsViewModel>;
}

<div class="main-wrapper">
    <section class="indexp-upper-half">
        <h1 class="std-header-h1">
            MY TITLE
        </h1>
        <img src="~/images/logo.jfif" class="intro-logo"/>
        <p class="std-parragraph">@admin.About_Me</p>

        <div class="social-media-section">
            <h3 class="std-header-h3">Find Me On</h3>
            <div>
                <a href="@admin.YouVersion_Url">
                    <span></span>
                </a>
                <a href="@admin.Instagram_Url">
                    <span></span>
                </a>
                <a href="@admin.Github_Url">
                    <span></span>
                </a>
                <a href="@admin.Goodreads_url">
                    <span></span>
                </a>
                <a href="@admin.Youtube_url">
                    <span></span>
                </a>
                <a href="@admin.Reddit_Url">
                    <span></span>
                </a>
                <a href="@admin.Twitter_url">
                    <span></span>
                </a>
                <a href="@admin.Strava_url">
                    <span></span>
                </a>
            </div>
        </div>
    </section>

    <section class="indexp-lower-half">
        <h2 class="std-header-h2">MOST RECENT</h2>
        <div class="posts-wrapper">
            @foreach(PostsViewModel post in posts)
            {
                <div class="individual-post-wrapper">
                    <img src="" />
                    <h4 class="std-header-h4">@post.Title</h4>
                    <p class="std-quiet-p">@post.DatePosted</p>

                </div>
            }
        </div>
    </section>

</div>
