@*@model MyBg.Models.UserAdminModel*@
@{
    ViewData["Title"] = "Welcome to My Blog";
    UserAdminModel admin = ViewData["User"] as UserAdminModel;
    string followersCount = ViewData["FollowerCount"].ToString();
    IEnumerable<PostsViewModel> posts = ViewData["Posts"] as IEnumerable<PostsViewModel>;
}

<div class="main-wrapper main-wrapper_index">
    <section class="indexp-upper-half">
        <h1 class="std-h1 intro-title">
            MY TITLE
        </h1>
        <img src="~/images/logo.jfif" class="intro-logo" />
        <p class="std-p intro-text">@admin.About_Me</p>

        <div class="social-media-section">
            <h3 class="std-h3 sm-section-title">Find Me On</h3>
            <div class="sm-links-wrapper">
                <a href="@admin.YouVersion_Url" class="sm-link youversion">
                    <span class="youversion-icon"></span>
                </a>
                <a href="@admin.Instagram_Url" class="sm-link insta">
                    <span class="insta-icon"></span>
                </a>
                <a href="@admin.Github_Url" class="sm-link github">
                    <span class="github-icon"></span>
                </a>
                <a href="@admin.Goodreads_url" class="sm-link goodreads">
                    <span class="goodreads-icon"></span>
                </a>
                <a href="@admin.Youtube_url" class="sm-link youtube">
                    <span class="youtube-icon"></span>
                </a>
                <a href="@admin.Reddit_Url" class="sm-link reddit">
                    <span class="reddit-icon"></span>
                </a>
                <a href="@admin.Twitter_url" class="sm-link twitter">
                    <span class="twitter-icon"></span>
                </a>
                <a href="@admin.Strava_url" class="sm-link strava">
                    <span class="strava-icon"></span>
                </a>
                <a href="@admin.LinkedIn_url" class="sm-link linkedin">
                    <span class="linkedin-icon"></span>
                </a>
                <a href="@admin.Discord_url" class="sm-link discord">
                    <span class="discord-icon"></span>
                </a>
                <a href="@admin.Codepen_url" class="sm-link codepen">
                    <span class="codepen-icon"></span>
                </a>
            </div>
        </div>
    </section>

    <section class="indexp-lower-half">
        <h2 class="std-h2 most-recent-h2">MOST RECENT</h2>
        <section class="posts-wrapper">
            @foreach (PostsViewModel post in posts)
            {
                <div class="most-recent-post-wrapper">
                    <img src="" class="most-recent-post_thumbnail"/>
                    <h3 class="std-h3 most-recent-post_title" >@post.Title</h3>
                    <p class="std-text-quiet most-recent-post_date">@post.DatePosted</p>
                    <div class="tag-footer">

                        @if (post.PostType == "Favorite")
                        {
                            <span class="std-icon  type_favorite">favorite</span>
                        }

                        @if (post.PostType == "Blog")
                        {
                            <span class="std-icon type_blog">blog</span>
                        }
                        <div class="category-wrapper">
                            @if (!String.IsNullOrEmpty(post.Categories))
                            {
                                string[] tags = post.Categories.Split(" ");
                                foreach (string tag in tags)
                                {
                                    <a href="/posts/@tag.Replace("#", "")" class="category-tag">@tag</a>
                                }

                            }
                        </div>
                    </div>

                </div>
            }
        </section>
    </section>

</div>
