@model string[];

<div class="sub-layout" id="layer-chapter-six">
    <h2 class="std-h2 chapter-section-title">6 LIVING IN THE MIDDLE  </h2>
    @await Html.PartialAsync("./section_one.cshtml", Model[0])
    @await Html.PartialAsync("./section_two.cshtml", Model[1])
    @await Html.PartialAsync("./section_three.cshtml", Model[2])
    @await Html.PartialAsync("./section_four.cshtml", Model[3])
    @await Html.PartialAsync("./section_five.cshtml", Model[4])

    <div class="spacer-from-chapter-section"></div>

    <section class="chapter-sections-selector-wrapper">
        <div style='background-image: url("@Model[0]") ' id="chapter-six_section-one--trigger" class="focused-section chapter-section-card" data-section="1"></div>
        <div style='background-image: url("@Model[1]") ' id="chapter-six_section-two--trigger" class="chapter-section-card" data-section="2"></div>
        <div style='background-image: url("@Model[2]") ' id="chapter-six_section-three--trigger" class="chapter-section-card" data-section="3"></div>
        <div style='background-image: url("@Model[3]") ' id="chapter-six_section-four--trigger" class="chapter-section-card" data-section="4"></div>
        <div style='background-image: url("@Model[4]") ' id="chapter-six_section-five--trigger" class="chapter-section-card" data-section="5"></div>
    </section>
</div>

<script>

    const chapterSix_SectionOne = document.querySelector("#chapter-six_section-one");
    const chapterSix_SectionTwo = document.querySelector("#chapter-six_section-two");
    const chapterSix_SectionThree = document.querySelector("#chapter-six_section-three");
    const chapterSix_SectionFour = document.querySelector("#chapter-six_section-four");
    const chapterSix_SectionFive = document.querySelector("#chapter-six_section-five");

    const chapterSix_SectionOne_Trigger = document.querySelector("#chapter-six_section-one--trigger");
    const chapterSix_SectionTwo_Trigger = document.querySelector("#chapter-six_section-two--trigger");
    const chapterSix_SectionThree_Trigger = document.querySelector("#chapter-six_section-three--trigger");
    const chapterSix_SectionFour_Trigger = document.querySelector("#chapter-six_section-four--trigger");
    const chapterSix_SectionFive_Trigger = document.querySelector("#chapter-six_section-five--trigger");

    const chooseSection_chapterSix = (e) => {
        const section = e.target.dataset.section;
        switch (section) {
            case '1':
                chapterSix_SectionFive.style.display = "none"
                chapterSix_SectionFour.style.display = "none"
                chapterSix_SectionThree.style.display = "none"
                chapterSix_SectionTwo.style.display = "none"
                chapterSix_SectionOne.style.display = "flex"

                // add the shiny border class
                chapterSix_SectionFive_Trigger.classList.remove('focused-section')
                chapterSix_SectionFour_Trigger.classList.remove('focused-section')
                chapterSix_SectionThree_Trigger.classList.remove('focused-section')
                chapterSix_SectionTwo_Trigger.classList.remove('focused-section')
                chapterSix_SectionOne_Trigger.classList.add('focused-section')
                break;

            case '2':
                chapterSix_SectionFive.style.display = "none"
                chapterSix_SectionFour.style.display = "none"
                chapterSix_SectionThree.style.display = "none"
                chapterSix_SectionOne.style.display = "none"
                chapterSix_SectionTwo.style.display = "flex"

                // add the shiny border class
                chapterSix_SectionFive_Trigger.classList.remove('focused-section')
                chapterSix_SectionFour_Trigger.classList.remove('focused-section')
                chapterSix_SectionThree_Trigger.classList.remove('focused-section')
                chapterSix_SectionOne_Trigger.classList.remove('focused-section')
                chapterSix_SectionTwo_Trigger.classList.add('focused-section')
                break;

            case '3':
                chapterSix_SectionFive.style.display = "none"
                chapterSix_SectionFour.style.display = "none"
                chapterSix_SectionOne.style.display = "none"
                chapterSix_SectionTwo.style.display = "none"
                chapterSix_SectionThree.style.display = "flex"

                // add the shiny border class
                chapterSix_SectionFive_Trigger.classList.remove('focused-section')
                chapterSix_SectionFour_Trigger.classList.remove('focused-section')
                chapterSix_SectionOne_Trigger.classList.remove('focused-section')
                chapterSix_SectionTwo_Trigger.classList.remove('focused-section')
                chapterSix_SectionThree_Trigger.classList.add('focused-section')
                break;

            case '4':
                chapterSix_SectionOne.style.display = "none"
                chapterSix_SectionTwo.style.display = "none"
                chapterSix_SectionThree.style.display = "none"
                chapterSix_SectionFour.style.display = "flex"
                chapterSix_SectionFive.style.display = "none"

                // add the shiny border class
                chapterSix_SectionOne_Trigger.classList.remove('focused-section')
                chapterSix_SectionTwo_Trigger.classList.remove('focused-section')
                chapterSix_SectionThree_Trigger.classList.remove('focused-section')
                chapterSix_SectionFour_Trigger.classList.add('focused-section')
                chapterSix_SectionFive_Trigger.classList.remove('focused-section')
                break;

            case '5':
                chapterSix_SectionOne.style.display = "none"
                chapterSix_SectionTwo.style.display = "none"
                chapterSix_SectionThree.style.display = "none"
                chapterSix_SectionFour.style.display = "none"
                chapterSix_SectionFive.style.display = "flex"

                // add the shiny border class
                chapterSix_SectionOne_Trigger.classList.remove('focused-section')
                chapterSix_SectionTwo_Trigger.classList.remove('focused-section')
                chapterSix_SectionThree_Trigger.classList.remove('focused-section')
                chapterSix_SectionFour_Trigger.classList.remove('focused-section')
                chapterSix_SectionFive_Trigger.classList.add('focused-section')
                break;
        }
    }

    // assign click event to section card
    const chapterSix_SectionOne_Cards = document.querySelectorAll(".chapter-section-card");
    chapterSix_SectionOne_Cards.forEach(item => {
        item.addEventListener('click', chooseSection_chapterSix)
    })

</script>