@model IEnumerable<MyBg.Models.ArticleModel>

@{
    // metatags
    ViewData["MetaDescription"] = "Sermon Notes, Articles, Thoughts and Tips to help your Christian walk and ministry";

    ViewData["OGTitle"] = "Sermon Notes, Articles, Thoughts and Tips";
    ViewData["OGUrl"] = "http://danielrangel.me/articles";
    ViewData["OGImage"] = "https://res.cloudinary.com/dq6prlmvh/image/upload/v1643904780/danielrangel.me/logo_lnqtd7.png";
    ViewData["OGType"] = "website";
    ViewData["OGDescription"] = "Sermon Notes, Articles, Thoughts and Tips to help your Christian walk and ministry";
    ViewData["OGSiteName"] = "Daniel Rangel";

    ViewData["TWTitle"] = "All Articles";
    ViewData["TWDescription"] = "Sermon Notes, Articles, Thoughts and Tips to help your Christian walk and ministry";
    ViewData["TWImage"] = "https://res.cloudinary.com/dq6prlmvh/image/upload/v1643904780/danielrangel.me/logo_lnqtd7.png";
    ViewData["TWSite"] = "@Yodarango";
    ViewData["TWCreator"] = "@Yodarango";

    ViewData["Title"] = "Tools, Tips, Thoughts, and Tech to help your Christian walk";

    ViewData["MenuBtnTitle"] = "Article";
    IEnumerable<CategoryModel> allTags = ViewData["Tags"] as IEnumerable<CategoryModel>;
}


<div class="main-wrapper main-wrapper_favorite">
    <section class="post-title-wrapper wrapper-favorite">
        <span class="post-type post-type_header--blog std-icon"></span>
        <h1 class="std-h1 favorites-title">ARTICLES</h1>
    </section>

    <p class="std-p favorites-parrgraph">
        Welcome to the articles page where I post from sermon notes, thoughts, well-researched articles and more. If you enjoy the content here please
        <a asp-controller="home" asp-action="index" class="std-a">follow the webiste </a>To stay updated via email! Blessings 😊
    </p>

    <div class="category-wrapper category-wrapper--favoites">
        <h3 class="std-h3">Filter By Tag</h3>
        @foreach (CategoryModel tag in allTags)
        {
            <a asp-action="Index" asp-controller="Posts" asp-route-tag="@tag.Category" class="category-tag">#@tag.Category</a>
        }
    </div>
    @if (Model.Count() > 0)
    {
        <div class="posts-wrapper posts-wrapper--favorite">
            @foreach (ArticleModel post in Model)
            {
                <div class="blog-post-wrapper" onclick="redirectToPost('@post.ID', '@post.PostType')">
                    @await Html.PartialAsync("_Carrousel_Blog", post);
                    <div class="std-blurr-layer blog-blurr-layer"></div>
                    <aside class="blog-post-info-wrapper">
                        <div>
                            <h3 class="std-h3 header-h3--blog">@post.Title</h3>
                            <p class="std-text-quiet quiet-post-info">@post.DatePosted</p>

                            <div class="tag-footer">

                                <span class="post-type type_blog"></span>

                                <div class="category-wrapper">
                                    @if (!String.IsNullOrEmpty(post.Categories))
                                    {
                                        string[] tags = post.Categories.Split(" ");
                                        foreach (string tag in tags)
                                        {
                                            <a asp-action="Index" asp-controller="Posts" asp-route-tag="@tag" class="category-tag">@tag</a>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <p class="std-p std-p_blog-desc">
                            @post.Description
                        </p>
                    </aside>
                </div>
            }
        </div>
    }
    @if (Model.Count() == 0)
    {
        <h2 class="std-h2 not-found-h2">SEEMS LIKE I'VE BEEN SLACKIG ON MY POSTS, PLEASE CHECK BACK SOON! 😊 </h2>
    }
</div>

