@model MyBg.Models.ArticleModel
@{
    // metatags
    ViewData["MetaDescription"] = Model.Description;

    ViewData["OGTitle"] = Model.Title;
    ViewData["OGUrl"] = $"http://danielrangel.me/{Model.ID}";
    ViewData["OGImage"] = Model.Tumbnails;
    ViewData["OGType"] = "website";
    ViewData["OGDescription"] = Model.Description;
    ViewData["OGSiteName"] = "Daniel Rangel";

    ViewData["TWTitle"] = Model.Title;
    ViewData["TWDescription"] = Model.Description;
    ViewData["TWImage"] = Model.Tumbnails;
    ViewData["TWSite"] = "@Yodarango";
    ViewData["TWCreator"] = "@Yodarango";

    ViewData["Title"] = Model.Title;

    ViewData["MenuBtnTitle"] = "Article";

    ViewData["Styles"] = Model.Styles;
}

<div class="main-wrapper_favorite-single">
    <div class="post-top-single-wrapper">
        <a asp-action="Index" asp-controller="Articles" class="std-button back-to-all">👈 BACK TO ALL</a>

        @*<section class="main-title-wrapper">
                <h1 class="std-h1 header-h1_favorite">@Model.Title</h1>
                <p class="std-text-quiet quiet-post-info">@Model.DatePosted</p>
            </section>*@

        <div class="tag-footer">
            <div class="category-wrapper category-wrapper--single--post">
                @if (!String.IsNullOrEmpty(Model.Categories))
                {
                    string[] tags = Model.Categories.Split(" ");
                    foreach (string tag in tags)
                    {
                        <span class="category-tag">@tag</span>
                    }
                }
            </div>
        </div>

        <h3 class="std-h3">Did you like this content?</h3>
        <section class="buttons-wrapper">

            <button onclick="handleLike('@Model.ID', 'Blogs', @Model.Likes)" class="std-button std-button-reactions" id="love-button"> <span class="love-btn"></span>@Model.Likes</button>
            <button onclick="handleShare('@Model.ID','Blogs', @Model.Shares)" class="std-button std-button-reactions" id="share-button"><span class="share-btn"></span>@Model.Shares</button>
        </section>

        @*@await Html.PartialAsync("_Carrousel", Model);*@

        @*<a href="@Model.Link" class="std-link">Check It out</a>*@
    </div>
    <div class="std-medium-spacer" data-id="@Model.ID" data-route="article" id="post-wrapper"></div>
    @Html.Raw(Model.HTML);

</div>

@section  Scripts {
<script src="~/js/handlePostInteraction.js"></script>
@Html.Raw(Model.JS);
}

