@model IEnumerable<MyBg.Models.FavoriteModel>

@{
    // metatags#9fbd32
    ViewData["MetaDescription"] = "Favorite Tech to improve my productivity and";

    ViewData["OGTitle"] = "Sermon Notes, Articles, Thoughts and Tips";
    ViewData["OGUrl"] = "http://danielrangel.me/articles";
    ViewData["OGImage"] = "https://res.cloudinary.com/dq6prlmvh/image/upload/v1643904780/danielrangel.me/logo_lnqtd7.png";
    ViewData["OGType"] = "website";
    ViewData["OGDescription"] = "Sermon Notes, Articles, Thoughts and Tips to help your Christian walk and ministry";
    ViewData["OGSiteName"] = "Daniel Rangel";

    ViewData["TWTitle"] = "All Articles";
    ViewData["TWDescription"] = "Sermon Notes, Articles, Thoughts and Tips to help your Christian walk and ministry";
    ViewData["TWImage"] = "https://res.cloudinary.com/dq6prlmvh/image/upload/v1643904780/danielrangel.me/logo_lnqtd7.png";
    ViewData["TWSite"] = "@Yodarango";
    ViewData["TWCreator"] = "@Yodarango";

    ViewData["Title"] = "Tools, Tips, Thoughts, and Tech to help your Christian walk";

    ViewData["MenuBtnTitle"] = "Favorite";
    IEnumerable<CategoryModel> allTags = ViewData["Tags"] as IEnumerable<CategoryModel>;
}

<div class="main-wrapper main-wrapper_favorite">
    <section class="post-title-wrapper wrapper-favorite">
        <span class="post-type post-type_header--favorite std-icon"></span>
        <h1 class="std-h1 favorites-title">FAVORITES</h1>
    </section>

    <p class="std-p favorites-parrgraph">
        Welcome to my favorites page. Here I talk about my favorite software, hardware, tools, activities, and other things that aid my productivity.
        Whether is ministry, school, or simply leisure, there is a favorite for everything! If you enjoy  the content consider
        <a asp-controller="home" asp-action="index" class="std-a">following the webiste </a>To stay updated via email! Blessings 😊
    </p>

    <div class="category-wrapper category-wrapper--favoites">
        <h3 class="std-h3">Filter By Tag</h3>
        @foreach (CategoryModel tag in allTags)
        {
            <a asp-action="Index" asp-controller="Posts" asp-route-tag="@tag.Category" class="category-tag">#@tag.Category</a>
        }
    </div>


    @if (Model.Count() > 0)
    {
        <div class="posts-wrapper posts-wrapper--favorite">
            @foreach (FavoriteModel post in Model)
            {
                <div class="favorite-post-wrapper" onclick="redirectToPost('@post.ID', '@post.PostType')">
                    @await Html.PartialAsync("_Carrousel", post)
                    <div class="std-blurr-layer"></div>
                    <aside class="favorite-post-info-wrapper">
                        <div>
                            <h3 class="std-h3 header-h3--favorite">@post.Title</h3>
                            <p class="std-text-quiet quiet-post-info">@post.DatePosted</p>

                            <div class="tag-footer">

                                <span class="post-type type_favorite"></span>

                                <div class="category-wrapper">
                                    @if (!String.IsNullOrEmpty(post.Categories))
                                    {
                                        string[] tags = post.Categories.Split(" ");
                                        foreach (string tag in tags)
                                        {
                                            <a asp-action="Index" asp-controller="Posts" asp-route-tag="@tag" class="category-tag">@tag</a>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        @*<p class="std-p std-p_favorite-desc">
                                @post.Description
                            </p>*@
                    </aside>
                </div>
            }
        </div>
    }
    @if (Model.Count() == 0)
    {
        <h2 class="std-h2 not-found-h2">SEEMS LIKE I'VE BEEN SLACKIG ON MY POSTS, PLEASE CHECK BACK SOON! 😊 </h2>
    }
</div>




