@model IEnumerable<MyBg.Models.FavoriteModel>

@{
    ViewData["Title"] = "Favorites";
}

<div class="main-wrapper">

    <a asp-action="New" asp-controller="Favorites">New</a>

    <section class="main-title-wrapper">
        <span class="post-type type_new"></span>
        <h1 class="std-header-h1 header-h1_favorite">FAVORITES</h1>
    </section>

    <section class="posts-wrapper">
        @foreach (FavoriteModel post in Model)
        {
            <div class="individual-post-wrapper">
                <img src="" />
                <h4 class="std-header-h4">@post.Title</h4>
                <p class="std-quiet-p">@post.DatePosted</p>
                <div class="tag-footer">

                    <span class="post-type type_favorite">favorite</span>

                    <div class="category-wrapper">
                        @if (!String.IsNullOrEmpty(post.Categories))
                        {
                            string[] tags = post.Categories.Split(" ");
                            foreach (string tag in tags)
                            {
                                <span class="category-tag">@tag</span>
                            }

                        }
                    </div>
                </div>

                <section class="admin-actions-wrapper">
                    <a asp-action="Edit" , asp-controller="Favorites" asp-route-id="@post.ID">Edit</a>
                    <a asp-action="Favorite" , asp-controller="Favorites" asp-route-id="@post.ID">Read</a>
                    <a asp-action="DeleteFavorites" , asp-controller="Favorites" asp-route-id="@post.ID">Delete</a>
                </section>
            </div>
        }
    </section>

</div>