@model IEnumerable<MyBg.Models.FollowerModel>

@{
    ViewData["Title"] = "Followers";
}

<div class="main-wrapper">
    <section class="main-title-wrapper">
        <span class="post-type type_new"></span>
        <h1 class="std-header-h1 header-h1_favorite">FAVORITES</h1>
    </section>

    <section class="posts-wrapper">
        @foreach (FollowerModel follower in Model)
        {
            <div class="followeriwrapper">
                <img src="@follower.Avatar" class="profile-icon" />
                <h3 class="std-header-h3">@follower.Follower_Name</h3>
                <p class="std-bright-p">@follower.Email</p>
                <p class="std-quiet-p">@follower.Date_Subscribed</p>
            </div>

            <section class="admin-actions-wrapper">
                <a asp-action="DeleteFollower" , asp-controller="profile" asp-route-id="@follower.ID">Delete</a>
            </section>
        }
    </section>

</div>
