<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Daniel Rangel</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>

    <main role="main" class="page-wrapper">
        @RenderBody()
    </main>

    @* ------------------------------  Menu --------------------------  *@
@{string currViewHome="";
    string currViewBlogs = "";
    string currViewFavorites = "";
    string currViewTools = "";

    string viewDataHome = ViewData["Title"].ToString();
    if (viewDataHome.Contains("Welcome"))
    {
        currViewHome = "view-home";
    }
    else if(viewDataHome.Contains("Favorite"))
    {
        currViewBlogs = "view-favorites";
    }
    else if (viewDataHome.Contains("Blog"))
    {
        currViewFavorites = "view-blogs";
    }
    else if (viewDataHome.Contains("Tools"))
    {
        currViewTools = "view-tools";
    }

    string newClassHome = currViewHome;
    string newClassBlog = currViewBlogs;
    string newClassFavorite = currViewFavorites;
    string newClassTool = currViewTools;
}
    <section class="nav-wrapper">
        <nav class="menu">
            <a asp-controller="Home" asp-action="Index" class="menu-button home @newClassHome"></a>
            <a asp-controller="Favorites" asp-action="Index" class="menu-button favorites @newClassBlog"></a>
            <a asp-controller="Blogs" asp-action="Index" class="menu-button blog @newClassFavorite"></a>
            <a asp-controller="Tools" asp-action="Index" class="menu-button tools @newClassTool"></a>
        </nav>
    </section>

    @* ------------------------------ Footer --------------------------  *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyBg - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
