@model IEnumerable<MyBg.Models.BlogModel>

@{
    ViewData["Title"] = "Index";
    IEnumerable<CategoryModel> allTags = ViewData["Tags"] as IEnumerable<CategoryModel>;
}


<div class="main-wrapper main-type_favorite">
    <section>
        <span class="post-type post-type_header"></span>
        <h1>BLOGS</h1>
    </section>

    <p class="std-p">
        This is my very dummy description for now! ustry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsu
    </p>

    <div>
        @foreach (CategoryModel tag in allTags)
        {
            <span class="category-tag">#@tag.Category</span>
        }
    </div>

    @foreach (BlogModel post in Model)
    {
<div class="blog-post-wrapper">
    @await Html.PartialAsync("_Carrousel", post);
    <aside class="blog-post-info-wrapper">
        <a asp-action="Post" asp-controller="Blogs" asp-route-id="@post.ID">
            <h3 class="std-header-h3 header-h3_favorite">@post.Title</h3>
            <p class="std-quiet-p">@post.DatePosted</p>

            <div class="tag-footer">

                <span class="post-type type_blog"></span>

                <div class="category-wrapper">
                    @if (!String.IsNullOrEmpty(post.Categories))
                    {
                        string[] tags = post.Categories.Split(" ");
                        foreach (string tag in tags)
                        {
                            <span class="category-tag">@tag</span>
                        }

                    }
                </div>
            </div>
        </a>
        <p class="std-p std-p_favorite-desc">
            @post.Description
        </p>
    </aside>
</div>
    }
</div>

